.generator-section {
  position: relative;
  z-index: 0;
  text-align: center;
  width: 80%;
}
.tile-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.generator-btn {
  @include oval-btn;
  margin: 2rem;
}
