.rainbow-container {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}

.project-card {
  border: 1px solid black;
  border-radius: 10px;
  background: hsl(0, 0%, 95%);
}
.card-heading {
  font-family: $name-heading;
  text-align: center;
  margin: 0;
  font-size: 2rem;
}
