.featured-uni-section {
  display: flex;
  position: relative;
}

.unicorn-wrapper {
  position: relative;
  z-index: 0;
  // margin: 0 auto;
  width: 100%;
}

.large-uni {
  position: relative;
  width: 60%;
  z-index: 0;
}

.new-unicorn-btn {
  font-size: 2rem;
  align-self: center;
}

.hello-txt-wrapper {
  position: relative;
  z-index: 10;
  width: 40%;
  display: flex;
}
.hello-text {
  z-index: 10;
  line-height: 1;
  margin: 10rem auto;
}
.uni-name-text {
  font-size: 6rem;
  font-weight: bold;
  padding: 0 0 0 3rem;
  font-family: $name-heading;
}
