.featured-uni-section {
  display: flex;
  position: relative;
}

.unicorn-wrapper {
  margin: 0 auto;
  width: 100%;
}

.large-uni {
  position: relative;
  width: 60vw;
}

.new-unicorn-btn {
  font-size: 2rem;
  align-self: center;
}
