// unicorn wrapper

.app {
  height: 100%;
  display: grid;
  grid-template-areas:
    'header header header header'
    'unicorn unicorn unicorn new'
    'unicorn unicorn unicorn new'
    'palettes form form form'
    'gallery gallery gallery gallery';
}

.header {
  grid-area: header;
  text-align: center;
  height: 12rem;
}

.featured-palettes {
  grid-area: palettes;
  min-width: 20vw;
}

.featured-uni-section {
  grid-area: unicorn;
}

.main-heading {
  font-family: $main-heading;
  letter-spacing: 10px;
}

.generator-section {
  grid-area: new;
}

.form-section {
  grid-area: form;
}

.project-gallery {
  grid-area: gallery;
  width: 95%;
}

.new-palette-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  height: 100%;
  text-align: center;
  width: 100%;
}

.greeting-text {
  grid-area: hello;
}
