// unicorn wrapper


.app {
  height: 100%;
  display: grid;
  grid-template-areas:
    "header header header header"
    "palettes unicorn unicorn new"
    "form form form form"
    "gallery gallery gallery gallery"
}
.unicorn-proj {
  grid-area: unicorn;
}

.header {
  grid-area: header;
}

.palettes-big {
  grid-area: palettes;
}

.new-palette-section {
  grid-area: new;
}

.new-project-form {
  grid-area: form;
}

.gallery-section {
  grid-area: gallery;
  height: 500px;

}

.new-palette-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  height: 100%;
  text-align: center;
  width: 100%;
}