// unicorn wrapper
* {
  box-sizing: border-box;
}
.app {
  height: 100%;
  display: grid;
  grid-template-areas:
    'header header header'
    'unicorn unicorn new'
    'unicorn  unicorn new'
    'palettes form form'
    'gallery gallery gallery';
  grid-template-columns: 20% 60% 20%;
  background: rgb(232, 232, 232);
}

.header {
  grid-area: header;
  text-align: center;
  // height: 12rem;
  margin: 0 0 5rem 0;
  background: hsl(0, 0%, 95%);
}

.featured-palettes {
  grid-area: palettes;
  min-width: 20vw;
}

.featured-uni-section {
  grid-area: unicorn;
  // width: 80vw;
}

.main-heading {
  font-family: $main-heading;
  letter-spacing: 10px;
}

.generator-section {
  grid-area: new;
}

.form-section {
  grid-area: form;
}

.project-gallery {
  grid-area: gallery;
  width: 95%;
}

.greeting-text {
  grid-area: hello;
}
