// unicorn wrapper

.app {
  height: 100%;
  display: grid;
  grid-template-areas:
    'header header header header'
    'palettes unicorn unicorn new'
    'form form form form'
    'gallery gallery gallery gallery';
}

.header {
  grid-area: header;
  text-align: center;
}

.featured-palettes {
  grid-area: palettes;
  min-width: 30%;
}

.unicorn-wrapper {
  grid-area: unicorn;
}

.main-heading {
  font-family: $main-heading;
}

.new-palette-section {
  grid-area: new;
}

.new-uni-form {
  grid-area: form;
}

.project-gallery {
  grid-area: gallery;
  width: 100%;
}

.new-palette-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  height: 100%;
  text-align: center;
  width: 100%;
}
