@import './variables';
@import '../../containers/App/App';
@import '../../containers/Generator/Generator';
@import '../../components/Form/Form';
@import '../../components/Palette/Palette';
@import '../../components/Unicorn/Unicorn';
@import '../../components/Project/Project';
@import '../../components/ProjectGallery/ProjectGallery';
@import '../../components/Tile/Tile';
@import url('https://fonts.googleapis.com/css?family=Miltonian|Miltonian+Tattoo&display=swap');

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Verdana', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
